---
const { sideBarActiveItemID } = Astro.props;
const activeClass = "bg-base-300";
---

<ul class="menu grow shrink menu-md overflow-y-auto">
    <li><a class="py-3 text-base" id="home" href="/">Home</a></li>
    <li><a class="py-3 text-base" id="about" href="/about">About</a></li>
    <li><a class="py-3 text-base" id="blog" href="/blog/">Blog</a></li>
    <li><a class="py-3 text-base" id="search" href="/search">
      <svg class="size-4 inline-block mr-1" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" /></svg>
      Search
    </a></li>
    <li><a class="py-3 text-base" id="projects" href="/projects">Projects</a></li>
</ul>

<script define:vars={{ sideBarActiveItemID: sideBarActiveItemID, activeClass: activeClass }}>
function applyActiveClass() {
  document.querySelectorAll(".menu a").forEach((el) => el.classList.remove(activeClass));
  const activeItemElem = document.getElementById(sideBarActiveItemID);
  activeItemElem && activeItemElem.classList.add(activeClass);
}
applyActiveClass();
document.addEventListener("astro:page-load", applyActiveClass);
</script>
