---
import EmailSubscribeForm from "./EmailSubscribeForm.astro";
---
<div
    class="block sticky pointer-events-none bottom-10 bg-base-200 justify-center h-12 [mask-image:linear-gradient(transparent,#000000)]"
>
</div>

<div class="px-2 pb-4">
  <EmailSubscribeForm title="メールで更新を受け取る" compact />
</div>

<div class="social-icons px-2 pb-5 pt-1 flex self-center justify-center sticky bottom-0 bg-base-200">
    <a href="https://note.com/amaino" target="_blank" class="mx-3" aria-label="note" title="note">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: currentColor;">
            <path d="M15.906 3.203c-.078.012-.234.047-.348.066C14.49 3.504 12.762 4.5 11.648 5.59c-1.547 1.512-2.25 3.18-2.39 5.66l-.05.848-.575-.14c-1.523-.372-3.378.117-4.773 1.254-.871.707-1.687 1.89-1.855 2.684l-.055.258.234-.078c.836-.281 1.559-.379 2.387-.328 1.25.082 2.129.488 3.406 1.578.895.766 1.328 1.055 1.93 1.297.41.164.601.2 1.16.2.625 0 .71-.02 1.218-.234 1.14-.48 1.886-1.313 3.165-3.516.703-1.21 1.105-1.77 1.726-2.387 1.067-1.066 2.04-1.582 3.7-1.972l.386-.09-.117-.316c-.277-.73-1.008-1.817-1.594-2.375-1.453-1.375-3.18-2.109-4.465-1.93z"></path>
        </svg>
    </a>
    <a href="https://github.com/isaka1022" target="_blank" class="mx-3" aria-label="Github" title="Github">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            style="fill: currentColor;transform: ;msFilter:;"
            ><path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M12.026 2c-5.509 0-9.974 4.465-9.974 9.974 0 4.406 2.857 8.145 6.821 9.465.499.09.679-.217.679-.481 0-.237-.008-.865-.011-1.696-2.775.602-3.361-1.338-3.361-1.338-.452-1.152-1.107-1.459-1.107-1.459-.905-.619.069-.605.069-.605 1.002.07 1.527 1.028 1.527 1.028.89 1.524 2.336 1.084 2.902.829.091-.645.351-1.085.635-1.334-2.214-.251-4.542-1.107-4.542-4.93 0-1.087.389-1.979 1.024-2.675-.101-.253-.446-1.268.099-2.64 0 0 .837-.269 2.742 1.021a9.582 9.582 0 0 1 2.496-.336 9.554 9.554 0 0 1 2.496.336c1.906-1.291 2.742-1.021 2.742-1.021.545 1.372.203 2.387.099 2.64.64.696 1.024 1.587 1.024 2.675 0 3.833-2.33 4.675-4.552 4.922.355.308.675.916.675 1.846 0 1.334-.012 2.41-.012 2.737 0 .267.178.577.687.479C19.146 20.115 22 16.379 22 11.974 22 6.465 17.535 2 12.026 2z"
            ></path>
        </svg>
    </a>
    <a href="https://x.com/isaka1022" target="_blank" class="mx-3" aria-label="X (Twitter)" title="X (Twitter)">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            style="fill: currentColor;transform: ;msFilter:;"
            ><path
                d="M18.901 1.153h3.68l-8.04 9.19L24 22.846h-7.406l-5.8-7.584-6.638 7.584H.474l8.6-9.83L0 1.154h7.594l5.243 6.932ZM17.61 20.644h2.039L6.486 3.24H4.298Z"
            ></path>
        </svg>
    </a>

    <a href="/rss.xml" target="_blank" class="mx-3" aria-label="RSS Feed" title="RSS Feed">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            style="fill: currentColor;transform: ;msFilter:;"
            ><path d="M19 20.001C19 11.729 12.271 5 4 5v2c7.168 0 13 5.832 13 13.001h2z"></path><path
                d="M12 20.001h2C14 14.486 9.514 10 4 10v2c4.411 0 8 3.589 8 8.001z"></path><circle cx="6" cy="18" r="2"
            ></circle>
        </svg>
    </a>
</div>
